@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Schedule yourself, De-stress yourself</h1>
    </div>
    <div id="scheduleTabs">
        <ul>
            <li><a href="#tabs-1">Yearly</a></li>
            <li><a href="#tabs-2">Monthly</a></li>
            <li><a href="#tabs-3">Weekly</a></li>
            <li><a href="#tabs-4">Daily</a></li>
        </ul>
        <div id="tabs-1">
            <partial name="/Views/Home/_YearlySchedule.cshtml" />
        </div>
        <div id="tabs-2">
            <partial name="/Views/Home/_MonthlySchedule.cshtml" />
        </div>
        <div id="tabs-3">
            <partial name="/Views/Home/_WeeklySchedule.cshtml" />
        </div>
        <div id="tabs-4">
            <partial name="/Views/Home/_DailySchedule.cshtml" />
        </div>
    </div>

</div>
