@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div class="jumbotron">
        <div id="scheduleTabs">
            <ul>
                <li><a href="#tabs-1">Yearly</a></li>
                <li><a href="#tabs-2">Monthly</a></li>
                <li><a href="#tabs-3">Weekly</a></li>
                <li><a href="#tabs-4">Daily</a></li>
            </ul>
            <div id="tabs-1">
                <p>This is the content for tab 1</p>
            </div>
            <div id="tabs-2">
                <p>This is the content for tab 2</p>
            </div>
            <div id="tabs-3">
                <p>This is the content for tab 3</p>
            </div>
            <div id="tabs-4">
                <p>This is the content for tab 4</p>
            </div>
        </div>
        
    </div>
</div>
